# maven noise
target/

# osx noise
.DS_Store
profile

#IntelliJ Idea noise
.idea
*.iws
*.ipr
*.iml
*.releaseBackup

#NB noise
nbactions.xml
/nb-configuration.xml

#eclipse noise
.settings
.settings/*
.project
.classpath
examples/helloworld-pure-jax-rs/nb-configuration.xml
examples/helloworld/nb-configuration.xml
examples/osgi-http-service/bundle/nb-configuration.xml
examples/osgi-http-service/functional-test/nb-configuration.xml
tests/e2e/nb-configuration.xml
core-server/nb-configuration.xml
tests/integration/servlet-tests/nb-configuration.xml