# maven noise
target/

# osx noise
.DS_Store
profile

#IntelliJ Idea noise
*.iws
*.ipr
*.iml
*.releaseBackup
nbactions.xml
/nb-configuration.xml

#eclipse noise
.settings
.settings/*
.project
.classpath
