<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
  ">

	<bean id="greetingService" class="org.glassfish.jersey.tests.spring.GreetingServiceImpl" />

	<context:component-scan base-package="org.glassfish.jersey.tests.spring" />

<!-- 
	<aop:aspectj-autoproxy />

	<bean id="loggingAdvice" class="org.glassfish.jersey.tests.spring.LoggingAdvice" />
 -->

	<bean id="managedSingletonResource" class="org.glassfish.jersey.tests.spring.springmanaged.SpringManagedSingletonResource"
		scope="singleton">
		<property name="name">
			<util:constant static-field="org.glassfish.jersey.tests.spring.TestData.MANAGED" />
		</property>
		<property name="item" ref="singletonItem" />
	</bean>

	<bean id="managedSingletonResourceWithConstructor"
		class="org.glassfish.jersey.tests.spring.springmanaged.SpringManagedSingletonResourceWithConstructor"
		scope="singleton">
		<constructor-arg>
			<util:constant static-field="org.glassfish.jersey.tests.spring.TestData.MANAGED" />
		</constructor-arg>
		<constructor-arg ref="singletonItem" />
	</bean>

	<bean id="managedPerRequestResource" class="org.glassfish.jersey.tests.spring.springmanaged.SpringManagedPerRequestResource"
		scope="prototype">
		<property name="singletonItem" ref="singletonItem" />
		<property name="prototypeItem" ref="prototypeItem" />
	</bean>

	<bean id="managedPerRequestResourceWithConstructor"
		class="org.glassfish.jersey.tests.spring.springmanaged.SpringManagedPerRequestResourceWithConstructor"
		scope="prototype">
		<constructor-arg ref="singletonItem" />
		<constructor-arg ref="prototypeItem" />
	</bean>

	<bean id="singletonItem" class="org.glassfish.jersey.tests.spring.Item" scope="singleton">
		<property name="value">
			<util:constant static-field="org.glassfish.jersey.tests.spring.TestData.MANAGED" />
		</property>
	</bean>

	<bean id="prototypeItem" class="org.glassfish.jersey.tests.spring.Item2"
		scope="prototype">
		<property name="value">
			<util:constant static-field="org.glassfish.jersey.tests.spring.TestData.MANAGED" />
		</property>
	</bean>

	<bean id="namedItem3_1" class="org.glassfish.jersey.tests.spring.Item3" scope="singleton">
		<property name="value">
			<util:constant static-field="org.glassfish.jersey.tests.spring.TestData.VAL_1" />
		</property>
	</bean>

	<bean id="namedItem3_2" class="org.glassfish.jersey.tests.spring.Item3" scope="singleton">
		<property name="value">
			<util:constant static-field="org.glassfish.jersey.tests.spring.TestData.VAL_2" />
		</property>
	</bean>

</beans>