<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <module-name>jersey-spring-test</module-name>

    <!-- use this to explicitly configure Spring -->
    <!--
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/applicationContext.xml</param-value>
    </context-param>
    -->

    <servlet>
        <servlet-name>org.glassfish.jersey.server.spring.test.MyApplication</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.glassfish.jersey.server.spring.test.MyApplication</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

  
</web-app>

