<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >

    <bean name="AccountService-1" class="org.glassfish.jersey.server.spring.test.AccountServiceSpring" scope="singleton"/>

    <bean name="AccountService-2" class="org.glassfish.jersey.server.spring.test.AccountServiceSpring" scope="singleton"/>

    <bean name="AccountService-3" class="org.glassfish.jersey.server.spring.test.AccountServiceJersey" scope="prototype"/>

    <bean name="AccountService-4" class="org.glassfish.jersey.server.spring.test.AccountServiceJersey" scope="request"/>

    <bean class="org.glassfish.jersey.server.spring.test.AccountResource"/>

</beans>